<%- include('./partials/header') %>

    <div class="w-full h-screen flex items-start px-20 py-20">
        <div class="w-[25%] flex h-screen flex-col items-start">
            <div class="flex flex-col">
                <a class="block w-fit mb-2" href="/owners/createproducts">Create new product</a>
            </div>
        </div>
        <div class="w-[75%] flex flex-col gap-5 h-screen">
            <a class="text-red-500" href="">Delete all</a>
            
            <div class="flex items-start gap-5">
                <%products.forEach((product)=>{ %>
                    <div class="w-60 h-full bg-[<%=product.panelcolor%>]">
                        <div class="w-full h-52 bg-[<%=product.bg_color%>] flex items-center justify-center">
                            <img class="h-[13rem] w-[11rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                alt="">
                        </div>
                        <div class="flex justify-between items-center px-4 py-4">
                            <div>
                                <h3><%=product.name%></h3>
                                <h4>₹ <%=product.price%></h4>
                            </div>
                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="">
                                <i class="ri-add-line"></i>
                            </a>
                        </div>
                    </div>
               <% })%>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>